<section>
  <div class="container">
    <div class="row">
        <div class="col-sm-3">
          <%= render "layouts/left_sidebar" %>
        </div>
        <div class="col-sm-9 padding-right">
          <div class="features_items"><!--features_items-->
            <h2 class="title text-center"><%= t ".product" %></h2>
            <% @products.each do |product| %>
              <%= render "products/product", product: product, order_item: @order_items %>
            <% end %>
          </div><!--features_items-->
        </div>
      </div>
  </div>
</section>

